.top-container {
    position: fixed;
    z-index: 100;
}

body {
    margin: 0;
    background-color: #f2f2f2;
}

#sidebar-button {
    position: absolute;
    text-align: center;
    padding: 0.5em 0.7em;
    font-size: 1.3em;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    color: #4c4c4c;
    cursor: pointer;
    outline: none;
}

#canvas-container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

canvas {
    height: 100%;
    width: 100%;
    display: block;
}

#sidebar {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#menu {
    margin-top: 3.0em;
    padding: 10px;
}

.menu-section {
    display: inline-block;
    width: 100%;
    margin: 0.5em 0;
}

input, select, #generate-button {
    line-height: 2em;
    padding: 0 0.25em;
    -webkit-appearance: none;
    -webkit-border-radius: 0; 
    border-radius: 0;
    border: 1px solid #c0c0c0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.parameter, .rule, #base-axiom {
    margin: 0.25em 0;
}

.parameter {
    display: flex;
    width: 100%;
}

.parameter > label {
    flex-grow: 1;
    margin: auto 0;
}

.parameter > input {
    float: right;
    width: 3.0em;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

#base-axiom-label, #production-rules-label {
    display: inline-block;
    width: 100%;
}

#base-axiom {
    display: inline-block;
    width: 50%;
}

.rule {
    display: flex;
}

.symbol-input {
    margin: auto;
    width: 1.5em;
    text-align: center;
}

.rule-arrow {
    margin: auto 0.5em;
}

.rule-input {
    margin: auto;
    flex-grow: 1;
}

.delete-rule-button, .add-rule-button {
    margin: auto 0.0;
    padding: 0.0 0.25em;
    text-align: center;
    font-size: 1.5em;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    cursor: pointer;
    outline: none;
}

.delete-rule-button {
    color:  #e74c3c;
}

.add-rule-button {
    padding: 0 0.18em;
    color:  #000000;
}

@media only screen and (min-width: 650px) {
    #sidebar {
        width: 325px;
    }
}