.top-container {
    position: fixed;
    z-index: 100;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0.5em;
}

#sidebar-button {
    position: absolute;
    text-align: center;
    padding: 0.5em 0.7em;
    font-size: 1.3em;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    color: #000000;
    cursor: pointer;
    outline: none;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s linear;
}
  
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.15s, opacity 0.15s linear;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas-container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

canvas {
    height: 100%;
    width: 100%;
    display: block;
}

#sidebar {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#menu {
    margin-top: 3.0em;
    padding: 0.75em;
}

.menu-section, .footer {
    display: inline-block;
    width: 100%;
    margin: 0.5em 0;
}

.footer {
    margin-top: 2.0em;
    text-align: center;
}

input {
    line-height: 2em;
    padding: 0 0.25em;
    -webkit-appearance: none;
    -webkit-border-radius: 0; 
    border-radius: 0;
    border: 1px solid #c0c0c0;
}

input[type="text"],
input[type="number"],
select {
    font-size: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.parameter, .rule, #base-axiom {
    margin: 0.25em 0;
}

.parameter {
    display: flex;
    width: 100%;
}

.parameter > label {
    flex-grow: 1;
    margin: auto 0;
}

.parameter > input {
    float: right;
    width: 3.0em;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

#base-axiom-label, #production-rules-label {
    display: inline-block;
    width: 100%;
}

#base-axiom {
    display: inline-block;
    width: 50%;
}

.rule {
    display: flex;
}

.symbol-input {
    margin: auto;
    width: 1.5em;
    text-align: center;
}

.rule-arrow {
    font-family: initial;
    margin: auto 0.5em;
}

.rule-input {
    min-width: 0;
    margin: auto;
    flex-grow: 1;
}

.delete-rule-button, #add-rule-button {
    font-family: initial;
    text-align: center;
    font-size: 1.5em;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    cursor: pointer;
    outline: none;
}

.delete-rule-button {
    color:  #e74c3c;
    margin: auto 0.5em auto 0.5em;
}

#add-rule-button {
    margin: auto;
    font-size: 2.0em;
    padding: 0 0.18em;
    width: 1em;
    color:  #000000;
}

.collapsible {
    line-height: 2.5em;
    width: 100%;
    padding: 0;
    background: none;
    font-family: inherit;
    font-size: inherit;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.collapsible:after {
    font-family: initial;
    font-size: 1.0em;
    content: '\25BC';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible-active:after {
    content: '\25B2';
}

.collapsible-content {
    display: none;
}

.palette-item {
    width: 100%;
    height: 3em;
    border: none;
    outline: none;
    background: none;
    margin: 0.1em 0;
    padding: 0.3em;
}

.palette-item.active {
    border: 1px solid black;
}

.color-box {
    height: 100%;
    width: 25%;
    display: inline-block;
}

#generate-button {
    width: 100%;
    height: 3em;
    font-family: inherit;
    font-size: inherit;
    background: none;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.github-link {
    margin: auto;
    padding: 0.75em;
}

@media only screen and (min-width: 650px) {
    #sidebar {
        width: 325px;
    }
}